*{
	padding: 0px;
	margin: 0px;
}
.tinnoibat{
	margin-top: 50px;
	width: 712px;
}
.tinto{
	width: 712px;
	height: 300px;
}
.tieude{
	width: 712px;
	height: 50px;
}
.tieude a{
    font-size: 24px;
    color: #1c1c1c;
    font-family: "Roboto-Bold";
    text-decoration: none;
    font-weight: bold;
    line-height: 28px;
    padding-right: 22px;
    display: block;
    margin-bottom: 20px
}
.noidungto{
	width: 712px;
	height: 230px;
	margin-top:20px;
}
.noidung{
	width: 340px;
	float: left;
	padding-right: 50px;
	background-color: #ECF8FF;
}
.noidung p{
	font-size: 16px;
    color: #1c1c1c;
    font-family: Arial;
    border-bottom: 1px dotted gray;
    margin-bottom: 10px;
    padding: 10px;
    
}
.fa-circle{
	background-color: gray;
	font-size: 9px;
	border-radius: 10px;
	float: left;
	margin: 10px;
	margin-bottom: 30px;
	position: relative;
	top: 5px;
}
.noidung ul>li.dstin>a{
	font-size: 16px;
	color: #444444;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
	line-height: 21px;
	margin-bottom: 23px;
	display: block;
	padding-top: 10px;
}
img.hinhto{
width: 315px;
float: left;
}
.tinnho{
	width: 712px;
}
.mottin{
	width: 225px;
	margin-right: 15px;
	float: left;
}
.mottin a.tieudenho{
	font-size: 16px;
    color: #444444;
    font-family: arial;
    font-weight: bold;
    text-decoration: none;
    line-height: 21px;
    margin: 10px 0px;
    display: block;
}
.tincuoi{
	margin-right: 0px;
}