*{
	margin: 0px;
	padding: 0px;
}
.tinto{
	width: 456px;
	height: 425px;
	margin-bottom: 25px;
}
.tinto img{
	width: 456px;
	height: 295px;
	padding-bottom: 10px;
}
.tinto a.tdto{
	font-weight: bold;
	font-family: "NotoSans";
	font-size: 24px;
	text-decoration: none;
	line-height: 29px;
	display: block;
	margin-bottom: 10px;
	color: black;
}
.tinto a.tdto:hover{
	color: #944914;
}
.tinnho{
	width: 456px;
	height: 400px;

	
}
.mottin{
	width: 142px;
	height: 165px;
	float: left;
	margin-right: 15px;
	margin-bottom: 25px;
}
.mottin:nth-child(3n){
	margin-right: 0px;
}
.mottin img{
	width: 142px;
	height: 93px;
}
.mottin a.tdnho{
	font-family: "NotoSans";
	font-size: 15px;
	text-decoration: none;
	line-height: 17px;
	display: block;
	margin-bottom: 10px;
	color: black;
}
a.tdto:hover{
	color: #944914;
}
.tinchinh{
	margin: auto;
	position: relative;
}